textarea {
    min-height: 400px;
}
.mailContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid rgb(125, 219, 248);
}
.sender{
    margin-right: 20px;
    margin-left: 5px;
    font-weight: bold;
}
.title{
    margin-right: 5px;
    margin-left: 5px;
}
.timestamp{
    margin-right: 5px;
    margin-left: 5px;
    text-align: right;
    float: right;
    color: #737579;
}
.emailBody{
    white-space: pre-wrap;
}
.btn-outline-success, .btn-outline-danger {
    margin-right: 10px;
}
#compose-body{
    margin-bottom: 20px;
}